* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
}

.mainWindow {
    position: relative;
    min-height: 100vh;
}

.bar {
    height: 50px;
    background-color: rgb(17, 81, 142);
}

input {
    display: block;
}

.content {
    height: calc(100vh - 100px);
    overflow: auto;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #000;
}

.jstree-anchor {
    color: #000;
    white-space: normal;
    padding: 0 4px 0 1px;
    margin: 0;
    margin-right: 20px; /* Отступ справа */
    vertical-align: top;
    overflow: auto;
    width: 90%; /* Ширина элемента */
}
